a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
.mg_l {
    margin-left: 15px;
}
.mt_20 {
    margin-top: 20px;
}
.red {
    color: #A94442;
}
.lt_bgc {
    background-color: #222D32;
}
.panel-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.lt_lg {
    margin-top: 150px;
}
.lt_aside {
    width: 180px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #222D32;
    z-index: 999;
    transition: all 1s;
}
/* hide 隐藏类  display: none; */
.lt_aside.hidemenu {
    left: -180px;
  }
.lt_aside .brand {
    height: 50px;
    background-color: #367FA9;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}
.lt_aside .brand a {
    color: #fff;
}
.user {
    height: 180px;
    width: 180px;
    padding-top: 30px;
}
.user img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.user p {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    border-left: 3px solid transparent;
  }
  .lt_aside .nav a.current {
    background-color: #1D1F21;
    border-left: 3px solid #069;
  }
  .nav ul {
    margin-left: -40px;
  }
  
  .lt_aside .nav a i {
    margin-right: 5px;
  }
  .lt_aside .nav .child a {
    padding-left: 60px;
  }
  .lt_aside .nav .child {
    display: none;
  }
.lt_topbar {
    height: 50px;
    width: 100%;
    background-color: #3C8DBC;
    padding-left: 180px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 50px;
    transition: all 1s;
}

.lt_main .lt_topbar a {
    height: 50px;
    width: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.lt_main .container-fluid{
    padding-left: 180px;
    padding-top: 50px;
    height: 2000px;
    transition: all 1s;
}
.lt_main .container-fluid .mt_20 {
    margin-top: 20px;
    margin-left: 15px;
}
.lt_main .container-fluid.hidemenu {
    padding-left: 0px;
}
.lt_main .lt_topbar.hidemenu {
    padding-left: 0px;
}

.lt_main .echarts_left, 
.lt_main .echarts_right {
  width: 48%;
  height: 400px;
} 




/*    user    */
.table.table-bordered th,
.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}
